.portfolio-item{
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 75px;
  }

.caption-media{
    display: inline-block;
    padding: 15px;
}

.copy{
    max-width: 300px;
    display: inline-block;
    padding: 15px;
}
