.portfolio-item{
    position: relative;
    width: 750px;
    margin-left: 0;
    padding: 75px;
  }

.caption-media{
    display: inline-block;
    padding: 15px;
}

.copy{
    max-width: 300px;
    display: inline-block;
    padding: 15px;
}
