.portfolio-item{
    position: relative;
    width: 650px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
  }

.portfolio-item > ul > li {
    list-style-type: none;
}

.caption-media{
    display: inline-block;
    padding: 15px;
}

.copy{
    max-width: 300px;
    display: inline-block;
    padding: 15px;
}
